agente-de-ia-oxI0jq36ig0iBLjN.json
{"createdAt":"2025-08-30T11:18:17.926Z","updatedAt":"2025-08-30T15:42:33.000Z","id":"oxI0jq36ig0iBLjN","name":"Agente de IA","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,0],"id":"9991d460-0c35-4fb3-b790-7d09e2e3aca8","name":"When chat message received","webhookId":"e5f3107e-8690-41ef-be9a-3005fcbca144"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xXh0olGOKX3D0YGB7i0Q1k9KOeX7RfvvelKMEde71aI/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xXh0olGOKX3D0YGB7i0Q1k9KOeX7RfvvelKMEde71aI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Búsqueda":"={{ $json.chatInput }}"},"matchingColumns":[],"schema":[{"id":"Búsqueda","displayName":"Búsqueda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Respuesta","displayName":"Respuesta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"396d468b-fbe9-4dbb-8d5e-74dd989216b3","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nxdhqYC7D9n3lO7v","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"Eres un asistente que me ayuda a buscar en google con la herramienta: API GOOGLE todas las url de la búsqueda que te pida por el chat el usuario. \nSiempre contestaras únicamente el listado de nombres y urls que venga de la Herramienta: API google"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[416,0],"id":"0959fd0a-5dca-415e-b739-846c6ed588a4","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[288,208],"id":"a329d465-c611-4c23-8931-4d2a5691a0be","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"7W3XCdKJRaKMitJx","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[480,192],"id":"8551efc3-8cb8-4b40-ac10-149554b23a7b","name":"Simple Memory"},{"parameters":{"toolDescription":"Esta herramienta busca en google usando los términos que indica el usuario. ","url":"https://real-time-web-search.p.rapidapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json['Búsqueda'] }}"},{"name":"fetch_ai_overviews","value":"false"},{"name":"num","value":"10"},{"name":"start","value":"0"},{"name":"gl","value":"us"},{"name":"hl","value":"en"},{"name":"device","value":"desktop"},{"name":"nfpr","value":"0"},{"name":"return_organic_result_video_thumbnail","value":"false"},{"name":"extra_speed","value":"false"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"real-time-web-search.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"d2214fce52msh18fb3b1b5f84a6cp18e612jsnd91cbb4e98ce"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[640,192],"id":"3de00b90-dfc8-4459-add3-b992d1707acf","name":"API google"},{"parameters":{"jsonSchemaExample":"{\n  \"resultados\": [\n    {\n      \"nombre\": \"Nombre del sitio web1\",\n      \"url\": \"https://miweb1.com\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[736,144],"id":"65ea16d3-d460-4b7d-af6c-ffcd6f76593e","name":"Structured Output Parser"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xXh0olGOKX3D0YGB7i0Q1k9KOeX7RfvvelKMEde71aI/edit?pli=1&gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xXh0olGOKX3D0YGB7i0Q1k9KOeX7RfvvelKMEde71aI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Búsqueda":"={{ $('When chat message received').item.json.chatInput }}","Respuesta":"={{ $json.output.resultados }}"},"matchingColumns":["Búsqueda"],"schema":[{"id":"Búsqueda","displayName":"Búsqueda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Respuesta","displayName":"Respuesta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[768,0],"id":"4e0bb8c5-9fe6-4308-a975-98d62f344d90","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nxdhqYC7D9n3lO7v","name":"Google Sheets account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"API google":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a3007873-af1a-4159-90da-0f0a07ce9994","triggerCount":0,"shared":[{"createdAt":"2025-08-30T11:18:17.934Z","updatedAt":"2025-08-30T11:18:17.934Z","role":"workflow:owner","workflowId":"oxI0jq36ig0iBLjN","projectId":"Y7wyLOJojivEG7x0"}],"tags":[]}