back-up-74XHi0cBffKglM7h.json
{"createdAt":"2025-09-09T16:52:31.308Z","updatedAt":"2025-09-09T18:25:07.000Z","id":"74XHi0cBffKglM7h","name":"Back up","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-336,-96],"id":"c4ba4c2b-445c-45eb-9871-3e548f178104","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-336,80],"id":"61d6124f-56fc-4bd6-9b53-f2346f090e6d","name":"Schedule Trigger"},{"parameters":{"batchSize":3,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[336,-16],"id":"2460f60f-b3fb-435f-97f4-45e4ed6b65ad","name":"Loop Over Items"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"angxl-10","mode":"name"},"repository":{"__rl":true,"value":"UDIA-N8N-Workflows","mode":"name"},"filePath":"={{ $node[\"Variables\"].json[\"repo\"][\"path\"] }}{{ $json[\"name\"] }}.json","asBinaryProperty":false,"additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[624,-96],"id":"dd8b7831-468b-444c-829c-e34f67c8cae5","name":"Get a file","webhookId":"65d42efb-4cdf-4a4b-a9c3-2334cd38fa35","credentials":{"githubApi":{"id":"FRbexqUOwnF2BeNI","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[128,-16],"id":"6de17a87-0c5c-416f-95c2-3a159a55393e","name":"Get many workflows","credentials":{"n8nApi":{"id":"XGMsk1BVOYq7Bgg7","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[800,-16],"id":"a20c9a8d-7dce-49bf-9c7c-64eb2886d9b4","name":"Merge"},{"parameters":{"jsCode":"// Input esperado:\n// items[0].json.workflow -> workflow actual (JSON)\n// items[0].json.backup   -> array de workflows guardados (JSONs con id y content)\n\nconst currentWorkflow = items[0].json.workflow;\nconst backupWorkflows = items[0].json.backup;\n\nlet status = \"new\";\nlet matchedId = null;\n\nfor (const wf of backupWorkflows) {\n  if (wf.id === currentWorkflow.id) {\n    matchedId = wf.id;\n    if (JSON.stringify(wf.content) === JSON.stringify(currentWorkflow)) {\n      status = \"unchanged\"; // ya existe y no está modificado\n    } else {\n      status = \"modified\"; // mismo ID pero contenido distinto\n    }\n    break;\n  }\n}\n\nreturn [\n  {\n    json: {\n      workflowId: currentWorkflow.id,\n      status: status,\n      matchedId: matchedId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,-16],"id":"3b549c29-beb3-466e-bfa5-f6569b3f7204","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"6b7c858f-62b0-4516-8f9b-098f721d9a8b"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1200,-16],"id":"154e283c-519c-4304-a3f3-c407a1e097d0","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"bb19099e-63d0-4841-b956-3fa5e71591e9","name":"repo.owner","value":"angxl-10","type":"string"},{"id":"fdf2f367-7cab-43c0-b9e1-ff1192376bf2","name":"repo.name","value":"UDIA-N8N-Workflows","type":"string"},{"id":"299db737-e4fd-434a-8ca6-2450a4f74e54","name":"repo.path","value":"workflows","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-16],"id":"53245d87-558d-4fa3-bbb0-e1d6e565e688","name":"Variables"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dcf4551a-2405-4a0d-9b8f-b55b01baca25","triggerCount":0,"shared":[{"createdAt":"2025-09-09T16:52:31.315Z","updatedAt":"2025-09-09T16:52:31.315Z","role":"workflow:owner","workflowId":"74XHi0cBffKglM7h","projectId":"Y7wyLOJojivEG7x0"}],"tags":[]}