if-y-switch-6Mv7ieqoa7jCbMOA.json
{"createdAt":"2025-08-20T18:33:24.128Z","updatedAt":"2025-08-20T18:54:22.000Z","id":"6Mv7ieqoa7jCbMOA","name":"IF y Switch","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-272,-16],"id":"64c44817-44a5-41c2-861e-5aaeaed5cdab","name":"When chat message received","webhookId":"57fcad1c-7a3f-44d9-af11-75c35680362f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dd343942-04da-4ae8-9a97-cf49fa9c052b","leftValue":"={{ $json.chatInput }}","rightValue":"Ho","operator":{"type":"string","operation":"startsWith"}},{"id":"e826cd19-09c2-4ea0-bd61-6e385602ae78","leftValue":"={{ $json.chatInput }}","rightValue":"h","operator":{"type":"string","operation":"startsWith"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-32,-96],"id":"00610e11-db39-49da-a8ae-3c0f7609dd19","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.chatInput }}","rightValue":"hola","operator":{"type":"string","operation":"equals"},"id":"c2c7421a-405d-4712-a53c-f1a1ecab5c61"}],"combinator":"and"},"renameOutput":true,"outputKey":"Saludo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9784695-e172-49ee-89e6-a4d5f7397c99","leftValue":"={{ $json.chatInput }}","rightValue":"adios","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Despedida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39533195-fe83-4cc9-a1fc-165a16299b87","leftValue":"={{ $json.chatInput }}","rightValue":"Prueba","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-32,48],"id":"83610711-eb38-43b1-8b98-809287bc3934","name":"Switch"},{"parameters":{"chatId":"6349137907","text":"Buenos dias","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[288,-144],"id":"2968d6ca-7e2e-4765-a807-d7f422595399","name":"Send a text message1","webhookId":"670ea0e2-45fb-4c7c-8ef0-8da8267e9132","credentials":{"telegramApi":{"id":"SRllOEhhMkuOC0OX","name":"Telegram account"}}},{"parameters":{"chatId":"6349137907","text":"Adios","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[288,16],"id":"9141bc22-ce78-44d9-9def-c3d170deefdc","name":"Send a text message","webhookId":"670ea0e2-45fb-4c7c-8ef0-8da8267e9132","credentials":{"telegramApi":{"id":"SRllOEhhMkuOC0OX","name":"Telegram account"}}},{"parameters":{"chatId":"6349137907","text":"buenas noches","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[304,192],"id":"3bcfb13e-97ce-4c09-b3b0-e26ffe9c5a09","name":"Send a text message2","webhookId":"670ea0e2-45fb-4c7c-8ef0-8da8267e9132","credentials":{"telegramApi":{"id":"SRllOEhhMkuOC0OX","name":"Telegram account"}}},{"parameters":{"chatId":"6349137907","text":"Buenos dias","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,368],"id":"07e32ee9-5e68-47c2-8472-26629287cbfb","name":"Send a text message3","webhookId":"670ea0e2-45fb-4c7c-8ef0-8da8267e9132","credentials":{"telegramApi":{"id":"SRllOEhhMkuOC0OX","name":"Telegram account"}}}],"connections":{"When chat message received":{"main":[[{"node":"If","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}],[{"node":"Send a text message2","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e6f29120-cd3c-448d-a649-78c8f0677ea0","triggerCount":0,"shared":[{"createdAt":"2025-08-20T18:33:24.141Z","updatedAt":"2025-08-20T18:33:24.141Z","role":"workflow:owner","workflowId":"6Mv7ieqoa7jCbMOA","projectId":"Y7wyLOJojivEG7x0"}],"tags":[]}