vectorstore_udia-f6Ns15imvsVAxSzm.json
{"createdAt":"2025-09-05T16:48:57.615Z","updatedAt":"2025-09-11T12:17:03.000Z","id":"f6Ns15imvsVAxSzm","name":"vectorstore_udia","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1DnXhxCUtZjuvBC3W3k4LoSYv16_5ZBSg","mode":"list","cachedResultName":"UDIA_RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1DnXhxCUtZjuvBC3W3k4LoSYv16_5ZBSg"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"9f25423c-f935-4b05-b01e-2909256c9502","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"ZQCXF41VDDYC7mqo","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"cb340156-9f74-4cc4-85d2-ff174bc3c63c","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"ZQCXF41VDDYC7mqo","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"ragudia","mode":"list","cachedResultName":"ragudia"},"options":{"pineconeNamespace":"Udia_rag"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[416,0],"id":"ce2ad3fd-5844-4756-b128-19a275439835","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"R46M2zWeOLY45HR9","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[368,192],"id":"35461f84-9837-47b6-b905-81c65ef9d0e4","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"neLaKxD86LnPoduS","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"file","value":"={{ $json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[560,208],"id":"88e3da77-3d19-4c65-9a13-99bf35e842e3","name":"Default Data Loader"},{"parameters":{"chunkSize":500,"chunkOverlap":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[608,352],"id":"a8f1b964-703c-4ab2-997c-937b3d9a82c3","name":"Recursive Character Text Splitter"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"38a5704d-a514-4025-9f26-faa5ad436ca4","triggerCount":0,"shared":[{"createdAt":"2025-09-05T16:48:57.629Z","updatedAt":"2025-09-05T16:48:57.629Z","role":"workflow:owner","workflowId":"f6Ns15imvsVAxSzm","projectId":"Y7wyLOJojivEG7x0"}],"tags":[]}