whatsapp-wMp3poXkPviTr1XQ.json
{"createdAt":"2025-09-11T12:21:54.797Z","updatedAt":"2025-09-11T13:11:27.000Z","id":"wMp3poXkPviTr1XQ","name":"whatsapp","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.metadata.phone_number_id }}","options":{"systemMessage":"Eres un agente super amable que ayuda a las personas que buscan información sobre inteligencia artificial y automatizaciones en UDIA. \n","enableStreaming":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[128,0],"id":"558cb0d7-d175-44f7-b8ab-05ef2125125c","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,208],"id":"b23cce34-afd9-46b4-a9cd-14f0a5a705bb","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"neLaKxD86LnPoduS","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.metadata.phone_number_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[128,208],"id":"05b13f0b-ee85-4642-aaf7-99a296786cd3","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Trabaja con tu pinecone vector store donde tienes toda la información sobre UDIA.es y lo que hacen. \n","pineconeIndex":{"__rl":true,"value":"ragudia","mode":"list","cachedResultName":"ragudia"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[336,208],"id":"d294210f-867a-41d6-9d6b-521b572e712a","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"R46M2zWeOLY45HR9","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[384,368],"id":"4410b337-9153-440d-a924-04aa9625ae69","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"neLaKxD86LnPoduS","name":"OpenAi account"}}},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-64,0],"id":"10d05e51-9d5a-45af-82a1-c2c592a0b669","name":"WhatsApp Trigger","webhookId":"8229ecfb-df61-4e87-88e4-cfb1d3a90b31","credentials":{"whatsAppTriggerApi":{"id":"qXWAmnnWHrlNPBfN","name":"WhatsApp OAuth account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f0adaddb-8d4c-4cdb-9495-7f8d95ee6c12","triggerCount":0,"shared":[{"createdAt":"2025-09-11T12:21:54.808Z","updatedAt":"2025-09-11T12:21:54.808Z","role":"workflow:owner","workflowId":"wMp3poXkPviTr1XQ","projectId":"Y7wyLOJojivEG7x0"}],"tags":[]}